
:root {
    --color-txt-primary: #4b352a;
    --color-txt-secondary: #333;
    --color-txt-offset: #fff;
    --color-btn-primary: #87543c;
    --color-logo: #1c8427;
    --color-background: #fff9f4;
    --color-footer: #5f5954;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    color: var(--color-txt-secondary);
    background-color: var(--color-background);
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--color-txt-primary);
}

nav {
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    z-index: 2;
    border-bottom: 1px dotted var(--color-btn-primary);
}

.nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-txt-secondary);
    font-style: normal;
    text-decoration: none;
}

.nav__left > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav__links > a {
    color: var(--color-txt-secondary);
    font-style: normal;
    text-decoration: none;
}

.github-logo, .slack-logo {
    width: 20px;
    height: 20px;
}

header {
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    background-color: var(--color-footer);
    color: var(--color-txt-offset);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 100px;
}

.title-image {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-image > img {
    width: 200px;
    height: 200px;
}

.title {
    text-align: center;
    font-size: clamp(3em, 10vw, 4em);
    text-wrap: nowrap;
}

.subtitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* .subtitle > img {
    #margin-right: 10px;
} */

.footer__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer__logos > a > img {
    width: 20px;
    height: 20px;
}